.logo-image {
    height: 36px;
    width: 36px !important;
    margin: 0 !important;
}
.btn-main {
    position: relative;
}
.wallet-btn {
    padding: 8px 20px 8px 20px;
    min-width: 210px;
    color: #333;
    background: white;
}

.wallet-btn:hover {
    color: white;
    background: #8364E2;
}